body {
    background-color: rgb(177, 177, 177);
}

header {
    color: white;
}

#lead {
    background-color: rgba(8, 27, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro {
    font-size: 45px;
    background-color: rgb(30, 148, 245);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    border-right: 10px solid rgb(30, 148, 245);
}

.menu {
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(8, 27, 70);
    font-size: 22px;
    float: right;
}

.banner {
    background-color: rgba(8, 27, 70);
    font-size: 30px;
}

#welcome {
    color: white;
    font-size: 38px;
    text-align: center;
    width: 25%;
    margin-left: 35%;
    background-color: rgb(30, 148, 245);
    border: 10px solid rgba(8, 27, 70);
}

li {
    display: inline;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    margin-top: 16px;
    background-color: rgb(177, 177, 177);
    display: flex;
}

#about {
    margin-right: 10px;
    width: 18%;
    font-size: 30px;
    color:rgba(8, 27, 70);
    text-align: center;
    float: left;
}

.details {
    display: inline;
    border-left: 3px solid rgb(30, 148, 245);    
    font-size: 18px;
    width: 75%;
}

img {
    margin-left: 5px;
}

p {
    color: rgba(8, 27, 70);
    padding: 10px;
}

#work {
    margin-right: 10px;
    width: 18%;
    font-size: 30px;
    color:rgba(8, 27, 70);
    text-align: center;
    float: left;
}

.examples {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: 3px solid rgb(30, 148, 245);
    width: 75%;
}

section {
    font-size: 16px;
}

.project {
    display: flex;
    margin: 5px;
    align-content: center;
    border: 3px solid rgb(30, 148, 245);
    padding: 10px 0px;
    width: 250px;
    height: 175px;
    background-image: url(placeholder.png);
    transition: all 0.5s ease-in-out;
}

.project:hover {
    box-shadow: inset 0px 0px 8px rgb(3, 70, 124), 0 0 15px rgb(3, 70, 124);
  }

#firstbox {
    flex-basis: 375px;
}

.card {
    color: rgba(8, 27, 70);
    border-radius: 0px 8px 8px 0px;
    align-content: center;
    padding: 5px 0px 0px 5px;
    position: relative;
    align-self: flex-end;
    height: 40px;
    width: 35%;
    background-color: rgb(30, 148, 245, 0.75);
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
}
  
  .card:hover {
    box-shadow: inset 0px 0px 8px rgb(3, 70, 124), 0 0 15px rgb(3, 70, 124);
  }

#contact {
    margin-right: 10px;
    width: 18%;
    font-size: 30px;
    color:rgba(8, 27, 70);
    text-align: center;
    float: left;
}

.mail {
    padding: 10px;
    font-size: 25px;
    color: rgba(8, 27, 70);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(8, 27, 70);
    text-align: center;
}

/* Tablets*/
@media screen and (max-width: 992px) { 
    #welcome {
        color: white;
        font-size: 25px;
        text-align: center;
        width: 100%;
        margin-left: 0%;
        background-color: rgb(30, 148, 245);
        border: 0px solid rgba(8, 27, 70);
    }
    #about {
        font-size: 18px;
        width: 16%;
    }
    #work {
        font-size: 18px;
        width: 16%;
    }
    #contact {
        font-size: 18px;
        width: 16%;
    }
    .examples {
        padding: 5px;
    }
    .mail {
        font-size: 18px;
    }

    footer {
        position: relative;
        bottom: auto;
        width: 100%;
    }
  }
  
  /* Smartphones*/
  @media screen and (max-width: 768px) {
        .menu a {
          float: none;
          display: block;
          width: 100%;
        }
        #intro {
            font-size: 28px;
            background-color: rgb(30, 148, 245);
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 8px;
            border-right: 0px solid rgb(30, 148, 245);
        }
  }
  
