body {
    background-color: rgb(177, 177, 177);
}

header {
    color: white;
}

#lead {
    background-color: rgba(8, 27, 70);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro {
    font-size: 45px;
    background-color: rgb(30, 148, 245);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    border-right: 10px;
}

.menu {
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgba(8, 27, 70);
    font-size: 28px;
    float: right;
}

.banner {
    background-color: rgba(8, 27, 70);
    font-size: 30px;
}

#welcome {
    color: white;
    font-size: 38px;
    text-align: center;
    width: 25%;
    margin-left: 35%;
    background-color: rgb(30, 148, 245);
    border: 10px solid rgba(8, 27, 70);
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

.description {
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
}

#about {
    padding: 20px;
    width: 12%;
    font-size: 30px;
    color:rgba(8, 27, 70);
    text-align: center;
    float: left;
}

p {
    color: rgba(8, 27, 70);
    padding: 10px;
}

.details {
    border-left: 3px solid rgb(30, 148, 245);    
    width: 80%;
}

.skills {
    background-color: rgb(177, 177, 177);
    align-items: center;
    margin-top: 20px;
}

#work {
    padding: 20px;
    width: 12%;
    font-size: 30px;
    color:rgba(8, 27, 70);
    text-align: center;
    float: left;
}

.examples {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border-left: 3px solid rgb(30, 148, 245);
    width: 80%;
}

.project {
    display: flex;
    margin: 5px;
    align-content: center;
    border: 3px solid rgb(30, 148, 245);
    padding: 10px 0px;
    width: 20%;
    height: 150px;
}

.card {
    color: rgba(8, 27, 70);
    align-content: center;
    position: relative;
    align-self: flex-end;
    height: 40px;
    width: 35%;
    border: 2px solid white;
}

footer {
    margin-top: 20px;
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
}

#contact {
    padding: 20px;
    width: 12%;
    font-size: 30px;
    color:rgba(8, 27, 70);
    text-align: center;
    float: left;
}
